{% extends 'base.html' %}

{% block title %}天气情况{% endblock %}

{% block content %}
{% load static %}
<br><br><br><br><br><br><br><br>
<div class='site-content'>
{% for iweather in weather_now %}
<div class='forecast-table'>
    <div class='container'>
        <div class='forecast-container weather'>
            <!-- 当日天气 -->
            <div class='today forecast'>
                <!-- 顶部 时间-->
                <div class='forecast-header weather-date'>更新时间：{{ iweather.update_loc}}</div>
                <!-- 内容 -->
                <div class='forecast-content'>
                    <div class='location weather-city'>{{ iweather.city }}</div>
                    <div class='degree'>
                        <div class='num weather-tmp'>{{ iweather.tmp }}</div>
                        <div class='forecast-icon'>
                            <!--<img class='weather-cond' src="#" alt='' width=90>-->
                            {{ iweather.cond_txt }}
                        </div>
                        <div class='forecast-icon'>
                            <!--<img class='weather-cond' src="#" alt='' width=90>-->
                        </div>
                        <div class='forecast-icon'>
                            <!--<img class='weather-cond' src="#" alt='' width=90>-->
                            {{ iweather.aqi_qlty }}
                        </div>
                    </div>
                    <span class='weather-wind'><img src="{% static 'bootstrap/img/weather_icons/icon-wind.png' %}" alt=''>{{ iweather.wind_sc }}</span>
                    <span class='weather-cond-txt'>{{ iweather.cond_txt }}</span>
                </div>
            </div>
            <!-- 天气预报 -->
            {% for iforecast in iweather.weatherforecast_set.all %}
            <div class='forecast'>
                <div class='forecast-header'>
                    <div class='day weather-forecast-date'>{{ iforecast.fc_date }}</div>
                </div>
                <div class='forecast-content weather-img'>
                    <div class='forecast-icon'>
                        <!--- <img class='weather-forecast-cond' src="#" alt='' width=48> --->
                        {{ iforecast.fc_txt_d }} 转 {{ iforecast.fc_txt_n }}
                    </div>
                    <div class='degree weather-forecast-tmp-max'>{{ iforecast.fc_tmp_max }}</div>
                    <small class='weather-forecast-tmp-min'>{{ iforecast.fc_tmp_min }}</small>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br>
{% endfor %}
</div>

<hr>
<link href="{% static 'bootstrap/css/weather.css' %}" rel="stylesheet" type="text/css">
<style>
    .weather-img {
        padding: 50px 0px 20px !important;
    }
</style>
{% endblock %}
